
#game{
    width: 1200px;
    height: 775px;
    border: 1px solid black;
    margin: auto;
    background-color: lightblue;
    overflow: hidden;
   
}

#start{
    text-align: center;
    font-size: 35px;
    height: 10px;
}

#obstacle1{
    width: 250px;
    height: 775px;
    background-color: green;
    position: relative;
    animation: obstacle1 2.2s linear infinite;
}

@keyframes obstacle1{
    0%{left: 1200px}  
    100%{left:-250px}
}

#passage{
    width: 250px;
    height:250px;
    background-color: lightblue;
    position: relative;
    top: -775px;
    animation: obstacle1 2.2s linear infinite;
}

#bird{
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 150px;
    border-radius: 50%;

}