
#game{
    width: 1200px;
    height: 700px;
    border: 1px solid black;
    margin: auto;
    background-color: lightblue;
    overflow: hidden;
   
}

button{
    position: relative;
   font-size: 25px;
   left: 520px;
   top: 290px;
}

#space{
    text-align: center;
    font-size: 30px;
}

#points{
    text-align: center;
    background-color: green;
}

#obstacle1{
    width: 250px;
    height: 700px;
    left: 1200px;
    background-color: green;
    position: relative;
}

@keyframes obstacle1{
    0%{left: 1200px}  
    100%{left:-250px}
}

@keyframes revert{
    0%{left: 1200px}  
    100%{left:-250px}
}

.animated{
    animation: obstacle1 2.7s linear infinite;
}

#passage{
    width: 250px;
    height:250px;
    left: 1200px;
    background-color: lightblue;
    position: relative;
    top: -700px;
}

#bird{
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 150px;
    border-radius: 50%;

}
